:root {
    --bordeaux: #59221A;
    --matadorred: #D84051;
    --skyblue: #8BC1D1;
    --moneygreen: #358A69;
    --mustardyellow: #D1A15B;
    --sitewhite: #FAFDF6;
    --textblack: #2D1D1D;
}



body {
    margin: 0;
    padding: 0;
    background: var(--sitewhite);
    font-family: "Roboto Light", sans-serif;
}

h1 {
    font-family: "Roboto Light", sans-serif;
    font-size: 1.5em;
}
label {
    width: 150px;
    display: inline-block;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
}

th {
    text-align: left;
}

/* Styles for attraction-creation-form.html */

.creation-form {
    max-width: 800px;
    /*margin: 40px auto */;
    border-radius: 12px;
    overflow: hidden;
}

.form-title {
    background-color: var(--moneygreen);
    color: var(--sitewhite);
    margin: 0;
    padding: 25px;
    text-align: center;
    font-size: 1.8rem;
}

.form-content {
    background-color: var(--matadorred);
    color: var(--sitewhite);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 40px;
}

/* Styling Inputs to look like the image */
input[type="text"], select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 12px;
    border: none;
    font-family: inherit;
    display: block;
}

input[type="checkbox"] {
    /* 1. Remove the default browser styling */
    appearance: none;
    -webkit-appearance: none;

    /* 2. Create the circle shape */
    width: 20px;
    height: 20px;
    border: 2px solid var(--sitewhite);
    border-radius: 50%; /* This makes it round */

    background-color: transparent;
    cursor: pointer;
    display: inline-grid;
    place-content: center; /* Centers the dot inside */}

/* 3. Style what happens when it is checked */
input[type="checkbox"]:checked {
    background-color: var(--moneygreen); /* Or keep it red and add a dot */
    border-color: var(--sitewhite);
}


.tag-item {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.tag-item input {
    margin-right: 10px;
}

.submit-btn {
    background-color: var(--moneygreen);
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

/* Styles for attraction-creation-form.html ends here */



