<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creation Form</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>

<h1>Registrer ny turistattraktion</h1>
<form action="#" th:action="@{/attractions/add}" th:object="${TouristAttraction}" method="post">
    <label>Navn</label>
    <input type="text" th:field="*{name}">
    <br>
    <label>Beskrivelse</label>
    <input type="text" th:field="*{description}">
    <br>
    <label>Lokation</label>
    <input type="text" th:field="*{location}">
    <br>
    <div th:each="tag : ${allTags}">
        <input type="checkbox"
               th:field="*{tags}"
               th:value="${tag}" />
        <label th:text="${tag}"></label>
        <br>
    </div>
    <br>
    <button type="submit">Registrer</button>



</form>
</body>
</html>