<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Turistattraktioner</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragments :: header}"></div>
<h1>Turistattraktioner</h1>

<table>
    <thead>
    <tr>
        <th>Navn</th> <th>Beskrivelse</th> <th>Lokation</th><th>Tags</th><th>Handlinger</th>
    </tr>
    </thead>
    <tbody>

    <tr th:if="${touristAttractions.isEmpty()}">
        <td colspan="4">Ingen registrerede turistattraktioner</td>
    <tr>
    </tr>
    <tr th:each="t: ${touristAttractions}">
        <td th:text="${t.name}"></td>
        <td th:text="${t.description}"></td>
        <td th:text="${t.getLocation()}"></td>
        <td th:text="${t.getTags()}"></td>
        <td><a th:href="@{/{name}/tags(name=${t.name})}" class="btn btn-green">Tags</a>
            <a th:href="@{/attractions/edit/{name}(name=${t.name})}" class="btn btn-yellow">Opdater</a>
            <a th:href="@{/attractions/getDelete/{name}(name=${t.name})}" class="btn btn-red">Slet</a></td>
    </tr>
    </tbody>
</table>

<br>

<a th:href="@{/attractions/add}" class="btn btn-green">Tilføj attraktion</a>



<div th:insert="~{fragments :: footer}"></div>
</body>
</html>