<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creation Form</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragments :: header}"></div>
<section>
    <form class="creation-form" th:action="@{/attractions/add}" th:object="${TouristAttraction}" method="post">
        <h1 class="form-title">Registrer ny turistattraktion</h1>

        <div class="form-content">

            <div class="form-inputs">
                <p>Indtast venligst</p>

                <input type="text" th:field="*{name}" placeholder="Navn" required>

                <input type="text" th:field="*{description}" placeholder="Beskrivelse" required>

                <p>Vælg venligst</p>
                <input type="text" th:field="*{location}" placeholder="Lokation">
            </div>
            <div class="form-tags">
                <p>Tags</p>
                <div class="tag-item" th:each="tag : ${allTags}">
                    <input type="checkbox" th:field="*{tags}" th:value="${tag}"/>
                    <label th:text="${tag}"></label>
                </div>
            </div>
        </div>
        <button type="submit" class="submit-btn">Registrer</button>
    </form>
</section>

<div th:insert="~{fragments :: footer}"></div>

</body>
</html>