<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Turistattraktioner</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<h1>Turistattraktioner</h1>

<table>
    <tr th:if="${touristAttractions.isEmpty()}">Ingen registrerede Tourist Attraktioner</tr>
    <tr th:unless="${touristAttractions.isEmpty()}">
        <th>Navn</th> <th>Beskrivelse</th> <th>Tags</th>
    </tr>
    <tr th:each="t: ${touristAttractions}">
        <td th:text="${t.name}"></td>
        <td th:text="${t.description}"></td>
        <td th:text="${t.getLocation()}"></td>
        <td th:text="${t.getTags()}"></td>
        <td><button><a th:href="@{/attractions/edit/{name}(name=${t.name})}">Opdater</a></button></td>
        <td><button><a th:href="@{/{name}/tags(name=${t.name})}">Tags</a></button></td>
    </tr>
</table>

</body>
</html>