<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>confirmDelete</title>
  <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragments :: header}" class="nav-wrapper"></div>

<h1 th:text="'Vil du slette ' + ${attractionToDelete.name} + '?'"></h1>

<form action="#" th:action="@{/attractions/delete/{objectId}(objectId=${attractionToDelete.getAttractionId()})}" method="post">
  <button type="submit">Ja</button>
</form>

<a th:href="@{/attractions}">Nej</a>

<div th:insert="~{fragments :: footer}"></div>

</body>
</html>