<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="header">
    <nav th:fragment="navbar" class="navbar">
        <div class="nav-container">
            <a th:href="@{/static}" class="logo-link">
                <img src="/matador-logo.png" alt="Matador Logo" class="logo">
            </a>
            <ul class="nav-menu">
                <li><a th:href="@{/static}" class="active">Hjem</a></li>
                <li><a th:href="@{/bestil}">Bestil Tur</a></li>
                <li><a th:href="@{/faq}">FAQ</a></li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>