<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Matador</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>

<div th:insert="~{fragments :: header}" class="nav-wrapper"></div>

<section class="hero">
    <div class="hero-box">
        <h1>Oplev <br> København <br> med os</h1>
        <p>Tag på en guidet matador-rundtur i byen</p>
        <a th:href="@{/attractions}" class="cta-button">Udforsk</a>
    </div>

    <div class="hero-image">
        <img src="/copenhagen.jpg" alt="København">
    </div>
</section>

<div th:insert="~{fragments :: footer}"></div>

</body>
</html>