<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragments :: header}" class="nav-wrapper"></div>
<h1 th:text="${attraction}"></h1>
<table>
    <tr th:each="t: ${tags}">
        <td th:text="${t.toString()}"></td>
    </tr>

</table>

<button><a th:href="@{/attractions}">Tilbage</a></button>
<div th:insert="~{fragments :: footer}"></div>
</body>
</html>