<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>th:field="*{name}"</h1>
<table>
    <tr th:if="${.isEmpty()}">There are no users registered yet</tr>
    <tr th:if="${!users.isEmpty()}">
        <th>Name</th> <th>Email</th> <th>User Role</th>
    </tr>
    <tr th:each="user: ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.userRole}"></td>
    </tr>
</table>

</body>
</html>