<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragments :: header}" class="nav-wrapper"></div>
<form class="creation-form"
      th:action="@{/attractions/edit/{name}}"
      th:object="${attraction}"
      method="post">

    <h1 class="form-title">Opdater turistattraktion</h1>


    <div class="form-content">

        <div>

            <label>Navn</label>
            <input type="text" th:field="*{name}" readonly>

            <label>Beskrivelse</label>
            <input type="text" th:field="*{description}">

            <label>Lokation</label>
            <input type="text" th:field="*{location}">
        </div>

        <div>
            <p>Tags</p>
        <div class="tag-item" th:each="tag : ${allTags}">
            <input type="checkbox"
               th:field="*{tags}"
               th:value="${tag}" />
        <label th:text="${tag}"></label>
        </div>
        </div>
    </div>

    <button type="submit" class="submit-btn">Registrer</button>
</form>
<div th:insert="~{fragments :: footer}"></div>
</body>
</html>